{% extends "layout.html" %}

{% block title %}
    Add data
{% endblock %}

{% block main %}
    <h3>Many a little make a mickle &#129309;</h3>
    <form action="/add" method="post">
        <div class="mb-3">
            <select name="body-name" class="form-control mx-auto w-auto">
                <option disabled selected>Body Part</option>
                {% for body in parts %}
                    <option value="{{ body }}">{{ body }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus name="exercise-name" class="form-control mx-auto w-auto" placeholder="Exercise Name" type="text" required="">
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus name="kgs" class="form-control mx-auto w-auto" placeholder="Kgs" type="number" required="">

        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus name="sets" class="form-control mx-auto w-auto" placeholder="Sets" type="number" required="">

        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus name="reps"class="form-control mx-auto w-auto" placeholder="Reps" type="number" required="">

        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}