{% extends "layout.html" %}

{% block title %}
    Images
{% endblock %}

{% block main %}
    <div class="motivations">

        <div class="card">
            <p>“I hated every minute of training, but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion.” </p>
            <h6>- Muhammed Ali</h6>
        </div>


        <div class="card">
            <p>“We are what we repeatedly do. Excellence then is not an act but a habit.”</p>
            <h6>- Aristotele</h6>
        </div>


        <div class="card">
            <p>The body achieves what the mind believes.”</p>
            <h6>- Napoleon Hill</h6>
        </div>

        <div class="card">
            <p>“The hard days are the best because that’s when champions are made, so if you push through, you can push through anything.” </p>
            <h6>- Dana Vollmer</h6>
        </div>

        <div class="card">
            <p>“If you don’t find the time, if you don’t do the work, you don’t get the results.”</p>
            <h6>- Arnold Schwarzenegger</h6>
        </div>

        <div class="card">
            <p>“Push harder than yesterday if you want a different tomorrow.”</p>
            <h6>- Vincent Williams Sr.</h6>
        </div>

        <div class="card">
            <p>“The real workout starts when you want to stop.” </p>
            <h6>- Ronnie Coleman</h6>
        </div>

        <div class="card">
            <p>“Take care of your body. It’s the only place you have to live.”</p>
            <h6>- Jim Rohn</h6>
        </div>

        <div class="card">
            <p>“I’ve failed over and over again in my life and that is why I succeed.” </p>
            <h6>- Micheal Jordan</h6>
        </div>

        <div class="card">
            <p>“Once you are exercising regularly, the hardest thing is to stop it.”</p>
            <h6>- Erin Gray</h6>
        </div>

        <div class="card">
            <p>“The secret of getting ahead is getting started.” </p>
            <h6>- Mark Twain</h6>
        </div>

        <div class="card">
            <p>“Most people fail, not because of lack of desire, but, because of lack of commitment.”</p>
            <h6>- Vince Lombardi</h6>
        </div>

        <div class="card">
            <p>“You miss one hundred percent of the shots you don’t take.”</p>
            <h6>- Wayne Gretzky</h6>
        </div>

        <div class="card">
            <p>“If something stands between you and your success, move it. Never be denied.”</p>
            <h6>- Dwayne Johnson</h6>
        </div>

        <div class="card">
            <p>“All progress takes place outside the comfort zone.”</p>
            <h6>- Micheal John Bobak</h6>
        </div>

        <div class="card">
            <p>“Enduring means accepting. Accepting things as they are and not as you would wish them to be, and then looking ahead, not behind.” </p>
            <h6>- Rafael Nadal</h6>
        </div>

        <div class="card">
            <p>“If you want something you’ve never had, you must be willing to do something you’ve never done.”</p>
            <h6>- Thomas Jefferson</h6>
        </div>

        <div class="card">
            <p>“Continuous improvement is better than delayed perfection.” </p>
            <h6>- Mark Twain</h6>
        </div>

        <div class="card">
            <p>“Do something today that your future self will thank you for.”</p>
            <h6>- Sean Patrick Flanery</h6>
        </div>

        <div class="card">
            <p>“Success is usually the culmination of controlling failure.” </p>
            <h6>- Sylvester Stallone</h6>
        </div>

        <div class="card">
            <p>“Strength does not come from physical capacity. It comes from an indomitable will” </p>
            <h6>- Mahatma Gandhi</h6>
        </div>

        <div class="card">
            <p>“You must expect things of yourself before you can do them.” </p>
            <h6>- Micheal Jordan</h6>
        </div>

        <div class="card">
            <p>“When I feel tired, I just think about how great I will feel once I finally reach my goal.” </p>
            <h6>- Micheal Phelps</h6>
        </div>

        <div class="card">
            <p>“Action is the foundational key to all success.” </p>
            <h6>- Pablo Picasso</h6>
        </div>

        <div class="card">
            <p>“Every champion was once a contender who refused to give up.” </p>
            <h6>- Rocky Balboa</h6>
        </div>

        <div class="card">
            <p>“Some people want it to happen, some wish it would happen, others make it happen.” </p>
            <h6>- Micheal Jordan</h6>
        </div>

        <div class="card">
            <p>“Making excuses burns zero calories per hour.” </p>
            <h6>- Unknown</h6>
        </div>

    </div>

    
    <style>
        .card {
 cursor: pointer;
 width: 190px;
 height: 254px;
 background: rgb(255, 255, 255);
 border-radius: 5px;
 border: 1px solid rgba(0, 0, 255, .2);
 transition: all .2s;
 box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.card:hover {
 box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}




    </style>
{% endblock %}